name: Build Workflow

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build on darwin-x64
    runs-on: macos-latest
    # strategy:
    #   matrix:
    #     include:
    #       - os: linux
    #         arch: x64
    #         github-runner: ubuntu-latest
    #       - os: linux
    #         arch: arm64
    #         github-runner: ubuntu-latest
    #       - os: darwin
    #         arch: x64
    #         github-runner: macos-latest
    #       - os: darwin
    #         arch: arm64
    #         github-runner: macos-latest
    #       - os: win32
    #         arch: x64
    #         github-runner: windows-latest
    #       - os: win32
    #         arch: arm64
    #         github-runner: windows-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with: 
          ref: 'main'
          fetch-depth: 0
      
      - name: Setup Node.js environment
        uses: actions/setup-node@v4.0.2
        with:
          node-version: ">=20.11.0"
          registry-url: "https://registry.npmjs.org/"
          cache: 'npm'
      
      - name: Install dependencies
        run: |
          if [ "${{ matrix.os }}" = "win32" ]; then
            pwsh install-dependencies.ps1
          else
            bash install-dependencies.sh
          fi
        shell: bash

      - name: Run build script
        run: cd extensions/vscode && npm install vsce && npx @vscode/vsce package --out ./build patch

      - name: Archive build artifacts
        uses: actions/download-artifact@v4.1.7
        with:
          name: ahrefs-continue-patch.vsix
          path: extensions/vscode/build
